html {
	min-height: 100%;
	position: relative;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.25) inset;
}

body {
	color: #ffb600;
	background: #000032;
	margin-bottom: 60px;
	font-family: "Product Sans", Google Sans, Roboto, SF Pro Text, SF Pro Display, Verdana, Tahoma, Helvetica, Calibri, Arial;
}

.whiteFont {color: #000032;}
.padding20 {padding: 20px;}
.padding40 {padding: 40px;}
.blueBackground {background-color: #ffb600;}

.navbar-default .navbar-toggle {border-color: #000064;}

.navbar li {
	font-size: 12px;
	text-transform: uppercase;
}

.navbar, .navbar-collapse {
	border: 0;
	background: none;
}

ul.nav.navbar-nav.navbar-right li a:hover, ul.nav.navbar-nav.navbar-right li.active a {
	color: #ffb600;
	background: none;
	border-bottom: 1px solid #ffb600;
}

footer {
	bottom: 0;
	width: 100%;
	font-size: 12px;
	position: absolute;
}
